body {
     background: linear-gradient(to right, #a8c8ff, #e0e0e0);
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
   }
   
   .container {
     width: 575px;
     height: auto;
     background: rgba(255, 255, 255, 0.3);
     backdrop-filter: blur(10px);
     border-radius: 15px;
     padding: 30px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
   }
   
   #height,
   #weight {
     width: 150px;
     height: 25px;
     margin-top: 30px;
     border: 1px solid rgba(255, 255, 255, 0.6);
     border-radius: 5px;
     padding: 5px;
     background: rgba(255, 255, 255, 0.5);
   }
   
   #weight-guide {
     margin-left: 75px;
     margin-top: 25px;
   }
   
   #results {
     font-size: 35px;
     margin-left: 90px;
     margin-top: 20px;
     color: rgb(241, 241, 241);
   }
   
   button {
     width: 150px;
     height: 35px;
     margin-left: 90px;
     margin-top: 25px;
     background: rgba(3, 106, 127, 0.3);
     padding: 1px 30px;
     border-radius: 8px;
     color: #212121;
     text-decoration: none;
     border: 2px solid #212121;
     font-size: 25px;
     cursor: pointer;
   }
   
   h1 {
     padding-left: 15px;
     padding-top: 25px;
     color: #212121;
   }
   